#LoginScreen {
    background-color: black;
}

#CenterSquare {

    margin-top: 3%;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #ffd700;
    border-radius: 10px;

}

header>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header>nav>ul>li{
    margin: 0px 20px;
}

#LeftPart {
    display: flex;
    height: auto;
    width: auto;
}

#RightPart {
    height: 30%;
    width: 63%;
    padding-top: 10%;
    align-self: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;

}

.Information {
    background-color: grey;
    border-radius: 10px;

}

#buttonLogin {
    background-color: black;
    border-radius: 10px;
    width: 30%;
    height: 10%;
    color: #ffd700;
    align-self: center;
    padding-top: 4%;
    padding-bottom: 4%;


}

#Title {
    font-weight: bold;
    font-size: large;
}

#background_login {
    width: 80%;
    height: 20%;

}

::placeholder {
    color: black;
}

#forgottenID {

    margin-top: 50%;
}

#createAccount {
    margin-top: 10%;
}

#icon_login {
    display: flex;
    width: 10%;
    height: 10%;
}

#icon_password {
    display: flex;
    width: 10%;
    height: 10%;
}

.horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verticlal {
    display: flex;
    flex-direction: column;
}


body {
    background: #E0E0E0;
    transition: 0.3s;
    background:url(../images/decor/triangle-solid-black-gold.jpg);
    font-family:'PT Sans',Helvetica, Arial, sans-serif;
    background-repeat: repeat-y;
}

div.with-nav {
    margin-top: 100px;
}

.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #212121;
}

.cart {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121;
}

.card {
    width: fit-content;
}

.card-body {
    width: fit-content;
}

.btn {
    border-radius: 0;
}

.img-thumbnail {
    border: none;
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px;
}

.carre {
    text-align: center;
    justify-content: center;
    border: dashed red;
    align-content: center;
    position: center;
}

.horizontal {
    display: flex;
    flex-direction: column;
    border: dashed black;
    flex-wrap: wrap;
}
.card-text{
    text-align: center;
    justify-content: center;
    align-content: center;
    position: center;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.flex-container{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
}


#res{
    border: 15px outset #A45D5E;
    border-radius: 40px 40px 40px 0px;
    position: fixed;
    margin-top: 20%;
}
/*css de la maquette du sidebar menu pour les reseaux*/


.side_bar {
   top :0;
    position: fixed;
    border-radius: 30px;
    left: 90%;
    width: 20%;
    visibility: visible;
    height: 100%;
    transition: 0.7s;
    background-color: black;
    color: black;
    text-align: center;
    justify-content: center;
}
.side_bar a {
    margin-top: 40%;
    display: block;
    flex-direction: row;
    border: green dashed;
    padding-right: 40%;
    color: white;

}


.side_bar .closebtn {
    position: absolute;
    margin-top: 20%;
    left: 10%;
    font-size: 36px;
    transition: 0.5s;
    border: yellow dashed;

}

#button {
    position: fixed;
    left: 88%;
    top: 40%;
    color: white;
    border: blue dashed;

}

#loginView{

margin-top: 30%;
}